.colorInput {
  cursor: pointer;
}

.endInput {
  width: 40px;
  height: 23px;
  padding: 5px;
  border: 1px solid #ff6600;

  background-color: transparent;
  color: #ffffff;
}

.removeColorButton {
  width: 15px;
  height: 15px;

  background-image: url('../../images/removeIcon.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
}
